html{
    font-size: 62.5%;
}

body {
   display: grid;
   grid-template-areas: 
   "header header header header"
   "hero hero hero hero"
   "about about about about"
   "creations creations creations creations"
   "footer footer footer footer";
   grid-template-columns: repeat(4, 1fr);
   font-size: 1.6rem;
   font-weight: 400;
   font-family: "Josefin Sans", sans-serif;
}

.header {
    grid-area: header;
    /* background-color: #000000; */
    position: relative;
    z-index: 1;
}

.header .header-container {
    display: flex;
    padding: 4rem 12rem;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.hero {
    grid-area: hero;
    height: 98vh;
    background: url('../images/desktop/image-hero.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10rem 12rem;
    position: relative;
    margin-top: -11.7rem;
}

.hero .slogan {
    width: 60rem;
    border: 2px solid #fff;
    padding: 4rem;
}

.hero .slogan h1 {
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    font-size: 7rem;
}

.about {
    grid-area: about;
    height: 98vh;
    position: relative;
    padding: 10rem 12rem;
}

.about .image-vr{
    background: url('../images/desktop/image-interactive.jpg') center center no-repeat;
    background-size: contain;
    width: 700px;
    height: 500px;
}

.about .item {
    max-width: 650px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 13%;
    padding: 8rem;
    background-color: #fff;
}

.about .item h2 {
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.about .item p {
    font-family: "Alata", sans-serif;
    color: var(--primary-very-dark-gray);
}

.creations {
    grid-area: creations;
    padding: 10rem 12rem;
}

.creations .header-creations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
}

.creations .header-creations h2 {
    font-weight: 300;
    font-size: 5rem;
    text-transform: uppercase;
}

.creations .header-creations a {
    color: #000000;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: "Alata", sans-serif;
    padding: 10px 40px;
    border: 2px solid #000000;
    transition: 0.3s ease-in-out;
}

.creations .header-creations a:hover {
    color: #ffffff;
    background-color: #000000;
}

.creations .creation-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.creations .creation-container .creation {
    position: relative;
    transition: 0.3s ease;
}

.creations .creation-container .creation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none;
    z-index: 1;
}

.creations .creation-container .creation a img {
    width: 100%;
    transition: 0.6s ease-in-out;
}

.creations .creation-container .creation a h3 {
    position: absolute;
    bottom: 10%;
    left: 16%;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3.2rem;
    width: 160px;
    z-index: 2;
    transition: 0.6s ease-in-out;
}

.creations .creation-container .creation:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.creations .creation-container .creation a {
    transition: 0.6s ease-in-out;
}

.creations .creation-container .creation:hover h3 {
    color: #000000;
}

.creations .creation-container .creation .mobile {
    display: none;
}

.footer {
    grid-area: footer;
    background-color: #000000;
    padding: 5rem 12rem;
}

.footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer .footer-container .menu-footer .logo{
    margin-bottom: 20px;
}

.footer .footer-container ul {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer .footer-container .menu-footer ul li a {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 10px;
    transition: 0.3s;
}

.footer .footer-container .menu-footer ul li a:hover {
    border-bottom: 3px solid #fff;
}