html{
    font-size: 62.5%;
}

body {
   display: grid;
   grid-template-areas: 
   "header header header header"
   "hero hero hero hero"
   "about about about about"
   "creations creations creations creations"
   "footer footer footer footer";
   grid-template-columns: repeat(4, 1fr);
   font-size: 1.6rem;
   font-weight: 400;
   font-family: "Josefin Sans", sans-serif;
}

.header {
    grid-area: header;
    background-color: #000000;
}

.header .header-container {
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.hero {
    grid-area: hero;
    background-color: #fff000;
}

.about {
    grid-area: about;
    background-color: #00ffff;
}

.creations {
    grid-area: creations;
    background-color: #ff00ff;
}

.footer {
    grid-area: footer;
    background-color: #0ff09f;
}